.UD_Size5{
    height: 5em;
}
.UD_Size10 {
    height: 10em;
    width: 10em;
}
.UD_news {
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #e6e6e6;
}

.UD_article {
    width: 200px;
    height: 220px;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    vertical-align: top;
}

.UD_thumb {
    width: 17em;
    height: 17em;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} 